*{
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer{
  background-color: white;
  width: 50vw;
  min-height: 70vh;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgb(217, 217, 217);
}

.headerSection{
  background: linear-gradient(to right, #647af6, #7a45bf);
  width: 100%;
  height: 8rem;
  border-radius: 20px 20px 0 0;
  color: white;
}

.inputSection{
  width: 100%;
  height: 8rem;
}

.inputs{
  margin: 0 50px;
  width: 100%;
  justify-content: space-between;
  
  .addTaskInput{
    width:78%;
    height: 3rem;
    border-radius: 7px;
    border: 2px solid grey;
    font-size: 1rem;
    margin-right: 10px;
    padding-left: 20px;
    transition: all 0.5s ease;
    
    &:focus{
      outline: none;
      border: 2px solid #3700ff;
      box-shadow: 0 0 5px rgba(0, 38, 255, 0.5);
    }
  }
  
  button{
    width: 20%;
    height: 3rem;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right, #647af6, #7a45bf);
    transition: all 0.5s ease;
    
    &:hover{
      box-shadow: 0 2px 5px #593cffb0;
    }
  }
}

hr{
  border: none;
  height: 1px;
  background-color: #dcdcdc;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .mainContainer{
    width: 70vw;
  }

  .inputs{
    width: 100%;
    margin: 0 30px;

    .addTaskInput{
      width: 80%;
    }

    button{
      width: 18%;
    }
  }
}

@media (max-width: 767px) {
  .mainContainer{
    width: 90vw;
  }

  .inputSection{
    height: 7rem;
  }

  .inputs{
    width: 100%;
    margin: 0 20px;
    
    .addTaskInput{
      height: 2.5rem;
      width: 70%;
      padding-left: 15px;
      font-size: 0.9rem;
    }
    
    button{
      height: 2.5rem;
      width: 27%;
      font-size: 0.9rem;
    }
  }

}